<!DOCTYPE html>
<html lang="en" ng-app="form-ui-examples">
<head>
    <title>ng-form-ui Examples</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://rawgithub.com/bkuhl/ng-form-ui/master/dist/ng-form-ui.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="https://rawgithub.com/bkuhl/ng-form-ui/master/dist/ng-form-ui.js"></script>
    <script type="text/javascript">
        angular.module('form-ui-examples', ['ng-form-ui']).

                controller('ExampleController', function ($scope) {
                    $scope.slideToggleOnOff = true;
                    $scope.slideToggleActiveInactve = true;
                });
    </script>
    <style type="text/css">
        .divider { height: 40px; }
        .directive:not(.first) { margin-top: 2em;}
    </style>
</head>
<body ng-controller="ExampleController">
<div class='container'>
    <span style="float: right; font-size: 12px;margin-top: 2em"><a href="https://github.com/bkuhl/ng-form-ui">Go to GitHub</a></span>
    <h1>ng-form-ui Examples</h1>
    <div style="height: 1px; background-color: #ccc;"></div>
    <br/>
    <p>Use these form elements to spice up your forms and keep things beautiful!</p>
    <br/>
        <div class="row">
            <div class="col-md-12">
                <h3 class='directive first'>focusMe</h3>
                <p>Focus an element when the page loads</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 highlight">
                <pre>&lt;input type="text" focus-me/&gt;</pre>
            </div>
            <div class="col-md-3">
                <input type="text" focus-me/>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <h3 class='directive'>slideToggle</h3>
                <p>Toggle a boolean value using a fancy slider</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 highlight">
                <pre>&lt;slide-toggle ng-model="slideToggleOnOff"&gt;&lt;slide-toggle&gt;</pre>
            </div>
            <div class="col-md-3">
                ng-model: {{ slideToggleOnOff }}<br/>
                <slide-toggle ng-model="slideToggleOnOff"></slide-toggle>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-9">
                <pre>&lt;slide-toggle onlabel="Active" offlabel="Inactive" ng-model="slideToggleActiveInactve"&gt;&lt;slide-toggle&gt;</pre>
            </div>
            <div class="col-md-3">
                ng-model: {{ slideToggleActiveInactve }}<br/>
                <slide-toggle onlabel="Active" offlabel="Inactive" ng-model="slideToggleActiveInactve"></slide-toggle>
            </div>
        </div>
</div>
</body>
</html>
